@model LogisticManagement.Models.ConatactDetail
@{
    ViewBag.Title = "Contact Details";
}

<h2>Contact Details</h2>

<label>@Model.City</label><br />

<label for="1">@Model.Location1</label>
<label id="1">@Model.ContactNo1</label><br />

<label for="2">@Model.Location2</label>
<label id="2">@Model.ConatactNo2</label><br />

<label for="3">@Model.Location3</label>
<label id="3">@Model.ConatactNo3</label>

